root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.go]
# Go conventionally uses tabs
indent_style = tab

[*.rs]
indent_style = space
indent_size = 4
charset = utf-8

[*.{sh,yml,yaml,json,env}]
indent_style = space
indent_size = 2
charset = utf-8
