services:
  execution:
    build:
      context: .
      dockerfile: ${CLIENT:-geth}/Dockerfile
    restart: unless-stopped
    ports:
      - "8545:8545"
      - "8546:8546"
      - "7301:6060"
      - "30303:30303"
      - "30303:30303/udp"
    command: ["bash", "./execution-entrypoint"]
    volumes:
      - ${HOST_DATA_DIR}:/data
    env_file:
      - ${NETWORK_ENV:-.env.mainnet}
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:6060/debug/pprof/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 12
      start_period: 20s

  node:
    build:
      context: .
      dockerfile: ${CLIENT:-geth}/Dockerfile
    restart: unless-stopped
    depends_on:
      execution:
        condition: service_healthy
    ports:
      - "7545:8545"
      - "9222:9222"
      - "9222:9222/udp"
      - "7300:7300"
      - "6060:6060"
    command: ["bash", "./op-node-entrypoint"]
    env_file:
      - ${NETWORK_ENV:-.env.mainnet}
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://127.0.0.1:6060/debug/pprof/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 12
      start_period: 20s
